@use 'base/mixins' as m;
@use 'base/variables' as v;

.contenedor {
    @include m.contenedor;
}

.contenedor-md {
    @include m.contenedor-md;
}

.contenedor-sm {
    @include m.contenedor-sm;
}

.responsivo-reserva {
    @include m.grid(3, 10px);

    @include m.desktop {
        @include m.grid(4, 10px);
    }

    @include m.desktop_xl {
        @include m.grid(6, 10px);
    }
}

.responsivo {
    @include m.grid(1, 20px);

    @include m.tablet {
        @include m.grid(2, 20px);
    }

    @include m.desktop {
        @include m.grid(3, 20px);
    }

    @include m.desktop_xl {
        @include m.grid(4, 20px);
    }
}

.responsivo-1 {
    @include m.grid(1, 20px);
}

.responsivo-2 {
    @include m.grid(1, 20px);

    @include m.tablet {
        @include m.grid(2, 20px);
    }
}

.responsivo-3 {
    @include m.grid(2, 20px);
    justify-items: start;

    @include m.tablet {
        @include m.grid(3, 20px);
        justify-items: start;
    }
}

.swal2-show {
    font-size: 15px;
}
