// Fuentes
$fuente-principal: "Marcellus", serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktop_xl: 1200px;

$primary: #1877F2;
$primary-hover: #0b69e3;
$secondary: #3b4049;
$dark: #3b4049;
$white: #fff;
$gris: #d9d9d9;
$rojo: #dc3545;
$verde: #008000;